# Dependencies
node_modules/
.venv/
venv/

# Build
.next/
dist/
*.egg-info/

# Secrets — NEVER commit
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
package-lock.json

# Local Netlify folder
.netlify
